@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,800;1,800&family=Poppins:ital,wght@0,200;0,400;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Playfair Display', sans-serif;
    font-weight: 200;
    box-sizing: border-box;
}
body {
    background: black;
    color: #fff; /*maybe change this?*/
    padding-top: 60px;
}
#header {
    background: #3F3F3F;
    width: 100%;
    height: 100vh;
}
.logo {
    border-radius: 70%;
    border: 1px solid #72AAB8;
    width: 50px; 
    height: 50px;
    object-fit: cover; 
    margin: 10px;
}
.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #3F3F3F; 
    z-index: 1000; 
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #FDFDFF;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}


html {
    scroll-behavior: smooth;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #72AAB8;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%
}

.header-text {
    margin-left: 10px;
    line-height: 75px;
}

.header-text h4{
    padding-top: 250px;
    padding-left: 4px;
    font-size: 30px;
    letter-spacing: 1px;
}

.header-text h1{
    font-size: 100px;
    font-family: 'PlayFair Display';
    color: #B5B2A8;
}

.header-text h5{
    padding-top: 10px;
    padding-left: 4px;
    font-size: 30px;
}

/*about*/
#about {
    padding: 80px 0;
    background: #010101;
}

.about-pic{
    width: 100%;
    border-radius: 15px;
}

#about h1{
    color: #72AAB8;
    font-size: 35px;
    font-family: 'PlayFair Display';
    margin-bottom: 20px;
    margin-top: 7%;
}

#about h4{
    color: #FDFDFF;
    font-size: 14px;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 25%;
}

.about-col-2{
    flex-basis: 65%;
}

#about h2{
    color: #72AAB8;
    font-size: 30px;
    font-family: 'PlayFair Display';
    margin-bottom: 15px;
    margin-top: 40px;
}

#about h5{
    font-size: 12px;
}

#about a{
    text-decoration: underline;
    color: inherit;
}

#about a:hover{
    color:#72AAB8;
}
 
.bold{
    font-family: 'Poppins';
    font-weight: 400;
}

.link{
    background: #546A7B;
    block-size: 30px;
    border-radius: 15px;
    width: 30px;
}

.links-row{
    margin-top: 15px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-content: center;
}

.button{
    padding: 5px 10px;
    background-color:#546A7B;
    color:#fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    border: none;
}

/*Skills*/

#skills{
    background: #393E40;
}

#skills h1{
    font-family: 'PlayFair Display';
    font-size: 40px;
    padding: 60px 10%;
}

.skills-row{
    padding: 0px 10% 5% 10%;
    display: flex;
    gap: 5%;
}

#skills h3{
    font-size: 20px;
}

.skills-col div {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
}

.skills-col{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    padding: 20px;
    background-color: #222526;
}
.big-chip{
    text-decoration: none;
    text-align: center;
    display: inline-block; 
    background-color: rgba(152, 226, 245, 0.15); 
    border-radius: 20px; 
    font-size: 15px;
    font-weight: 400;
    color: #6adaf6;
    background-size: 50%;
    padding: 5px 10px;
}

.big-chip:hover{
    color: #B5B2A8;
    background-color: rgba(152, 226, 245, 0.15); 
}

/* Experience */
#Experience{
    background: #030303;
    /* border-left: 1px solid #72AAB8;
    margin-left: 3%; */
    padding-bottom: 5%;
}

#Experience h1{
    font-family: "Playfair Display";
    font-size: 50px;
    padding: 70px 10% 40px 10%;
    color: #B5B2A8;
}

#Experience .experience{
    padding: 20px 10%;
}

#Experience .experience h5{
    font-weight: 700;
    color: #B5B2A8;
}

#Experience .experience h2{
    font-family: 'Playfair Display';
    color:#72AAB8;
}

#Experience .experience h4{
    margin-top: 8px;
    color: #B5B2A8;
}

.chip{
    text-align: center;
    display: inline; 
    background-color: rgba(152, 226, 245, 0.2); 
    border-radius: 20px; 
    font-size: 12px;
    font-weight: 400;
    color: #6adaf6;
    background-size: 50%;
    padding: 3px 6px;
}

.chips{
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 6px;
}

/* Projects */
#Projects{
    background: #3F3F3F;
}

#Projects h1{
    font-family: "Playfair Display";
    font-size: 40px;
    text-align: center;
    padding-top: 5%;
    color:#B5B2A8;
}

#Projects .row{
    gap: 5%;
    align-items: flex-start;
    padding: 5% 10% 0px 10%;
}
.project {
    background-color: #030303;
    width: 28%;
    height: 300px;
    border-radius: 25px;
    text-align: center;
}

.project h3{
    font-family: 'Playfair Display';
    color:#72AAB8;
    font-size: 20px;
    padding: 5%;
}